.top{
    position: relative;
 height: 15%;
 align-items: center;
 margin-bottom: 5px;
}

.contact a{
   
    text-decoration-line: none;
}

.top a{
   
    text-decoration-line: none;
    
}
.shopeasy {
  
    font-size: 250%;
    height: 60%;
   max-width: 20%;
  
}
.shopeasy_icon{
   max-width: 35px;
    height: 35px;
   margin-bottom: -2px;
   margin-left: 5px;
}

.search_box{
    margin-left: 6%;
    width: 35%;
    height: 20px;
   border-radius: 20px;
   
   padding: 10px;
   font-size: 22px;
}


.search_btn{
    width: 90px;
    height: 35px;
    position: absolute;
   
   top: 13px;
   background-color: coral;
   
}
.search_image{
    max-width: 40px;
    height: 30px;
    position: absolute;
    left: 5px;
   top: 7px;
}
.location_a{
   
    position: absolute;
    left: 1000px;
    top: 12px; 
    border: hidden;
    background-color: white;
}
.img_location{
    max-width: 60px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.notification_a{
    position: absolute;
    left: 20px;
    top: 8px; 
    border: hidden;
    background-color: white;
}

.notification_image{
   max-width: 50px;
    height: 30px;
    position: absolute;
    left: 1050px;
    top: 10px;
}
.heart_image{
    max-width: 50px;
    height: 30px;
    position: absolute;
    left: 1150px;
    top: 17px;
}

.cart_image{
    max-width: 50px;
    height: 30px;
    position: absolute;
    left: 1220px;
    top: 17px;
}

.login {
    position: absolute;
    left: 1290px;
    top: 16px;
    font-size: 25px;
    max-width:  40px;
    height: 50px;
    margin-bottom: 10px;
  
}

 a.reg {
    position: absolute;
    left: 1360px;
    top: 16px;
    font-size: 25px;
    max-width: 40px;
    height: 50px;
    margin-bottom: 10px;
  
}
.contact{
    margin-left: 75%;
    background-color: white;
    margin-top: 0px;
    display: flex;
    

}



.navbar {

    height: 50px;
    display: flex;
    background-color: aqua;
}

.navbar ul {

    display: flex;
    align-items: center;
    margin-left: 80px;
}

.n1 li {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    margin-left: 30px;
    align-items: center;

}
.navbar a{
    color: black;
    text-decoration: none;
}
.logo {
   max-width: 50px;
    height: 40px;
}



.register {
    background-color: aquamarine;

    max-width: 35%;
    height: 500px;
    border: 10px solid wheat;
    border-radius: 30px;
    margin-left: 450px;
    margin-top: 50px;
}

.register h1 {
    align-items: center;
    margin-left: 100px;
}


.form_label{
    font-size: 23px;
    margin-left: 25px;
}

.input_form {
   max-width:  400px;
    background-color: aqua;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 18px;
}

.btn_submit {
   max-width:  120px;
    height: 60px;
    font-size: 23px;
    margin-top: 30px;
    margin-left: 200px;
    background-color: wheat;
    border: 5px solid aquamarine;
    border-radius: 20px;
}

table {
   max-width:  50%;

}

table tr {
    margin-left: 60px;
}

table,
thead,
tr {
    border: 2px solid black;
}

.contact_form{
    border: 5px solid grey;
    border-radius: 30px;
    height: 60vh;
    max-width: 50vh;
    background-color: aquamarine;
    margin: 4vh 50vh;
    padding: 12vh;
    padding-top: 5vh;
}

.contact_label{

    font-size: 22px;
    margin-left:5vh ;
   
}
.input_contact{
    max-width:  320px;
    margin-top: 8px;
   margin-bottom: 8px;
    margin-left: 20px;
    height: 35px;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 18px;
}
textarea{
    margin-top: 8px;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 18px;
    margin-left: 20px;
}

.btn_submit_contact{
    max-width: 110px;
    height: 55px;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 130px;
    background-color: wheat;
    border: 5px solid aquamarine;
    border-radius: 20px;
}
.branded_deals{
    font-size: 25px;
    margin-top: 3%;
    margin-left: 4%;
}

.branded_images{
    margin-top: 2%;
    height: 20%;
}

.item_1_br {
    display: inline;
}
